
       <header class="header">
         <div class="container"> 
                <div class="row">
                    <div class="col-6 col-md-2 header-left__logo">
                        <a href="#"><img src="img/logo_aries.png" alt="logo"></a>
                    </div>
                    <div class="col-6 col-md-10 container__header-right align-self-center">
                        <nav class="header-right__menu">
                            <ul>
                                <li><a  href="index.html">games</a></li>
                                <li><a  href="#">about us</a></li>
                                <li><a  href="#">Tutorial</a></li>
                                <li><a  href="#">FAQ</a></li>
                                <li><a  href="#">blog</a></li>
                                <li><a  href="#">Market-place</a></li>
                                <li><a  href="#">Contact Us</a></li>
                                <li class="bg__login"><a href="#">login</a></li>
                            </ul>
                        </nav>
                        <div class="header__burger">
                           <span></span>
                        </div>
                    </div>
                </div> 
           </div>
       </header>
